# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE-specific
.vscode/
.idea/

# My files
dataset/
models/
old_models/
model_patience-3__85_37/
model_patience-10__87_80/
model_checkp__84.15/
binary_model/
t.py
requirements_kaggle.txt
unused/
tuner_results_archive.zip
tuner_results/
Tuner_Results/